FRESHTRACK_DB_HOST=127.0.0.1
FRESHTRACK_DB_PORT=3306
FRESHTRACK_DB_USER=root
FRESHTRACK_DB_PASSWORD=your_mysql_password
FRESHTRACK_DB_NAME=freshtrack
FRESHTRACK_SECRET_KEY=change-this-before-submission
